# CMake stuff

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# c++ stuff

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# OSX stuff

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# my stuff
build/
